.Donation {
  display: inline-block;
  margin: 0.2em;
  padding: 0.5em;
  border-radius: 0.2em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
  0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #ffffff
}

.Donation-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 0.2em;
  margin-bottom: 0.1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.Donation-amount {
  font-size: 1.5em;
}

.Donation-body {
  max-width: 20em;
}

.Donation-info {
  flex-grow: 1;
  margin-left: 0.5em;
}

.Donation-participant {
  color: #666666;
  font-size: 1em;
  margin: 0.1em;
}
.Donation-name {
  color: #222222;
  font-size: 1.5em;
  margin: 0.1em;
}

.Donation-remove {
  font-size: 1.2em;
  margin-left: 0.5em;
  padding: 0.5em;
  border: none;
  background-color: #eeeeee;
  box-shadow: 0 rgba(0, 0, 0, 0), 0 rgba(0, 0, 0, 0);
  cursor: pointer;
  outline: 0;
  -webkit-transition: background-color 0.2s ease-in, box-shadow 0.2s ease-in;
  -moz-transition: background-color 0.2s ease-in, box-shadow 0.2s ease-in;
  transition: background-color 0.2s ease-in, box-shadow 0.2s ease-in;
}
.Donation-remove:hover {
  background-color: #cccccc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.Donation-remove:active {
  background-color: #bbbbbb;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}



