.App {
  background-color: #eee;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: row;
  background-color: #222;
  margin: 0;
  padding: .5em 2em;
  color: white;
}

.App-title {
  flex-grow: 1;
}

.App-body {
  max-width: 80em;
  margin: 1em auto 0;
  padding: 0 0.5em;
}

.App-controls-container {
  display: flex;
  flex-direction: row;
}

.App-add-participant-title,
.App-add-raffle-title {
  margin: 0;
}

.App-add-participant-controls,
.App-add-raffle-controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (min-width:1025px) {
  .App-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(2em, auto);
    grid-auto-columns: minmax(15em, auto);
  }

  .App-status-container {
    grid-column: 1;
    grid-row: 1;
  }

  .App-participants-container {
    grid-column: 1;
    grid-row: 2;

  }

  .App-donations-container {
    grid-column: 2;
    grid-row: 1 / 4;
  }

  .App-raffles-container {
    grid-column: 1;
    grid-row: 3;
  }
}


