.App {
  background-color: #eee;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: row;
  background-color: #222;
  margin: 0;
  padding: .5em 2em;
  color: white;
}

.App-title {
  flex-grow: 1;
}

.App-body {
  max-width: 80em;
  margin: 1em auto 0;
  padding: 0 0.5em;
}

.App-controls-container {
  display: flex;
  flex-direction: row;
}

.App-add-participant,
.App-add-raffle,
.App-status-autorefresh {
  display: inline-block;
  margin: 0.2em;
  padding: 0.5em;
  border-radius: 0.2em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
  0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #ffffff
}

.App-add-participant-title,
.App-add-raffle-title {
  margin: 0;
}

.App-add-participant-controls,
.App-add-raffle-controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.App-add-participant-input,
.App-add-raffle-name,
.App-add-raffle-pattern,
.App-add-raffle-time,
.App-add-raffle-ticket-size {

  border: none;
  border-bottom: 2px solid #444444;
  border-radius: 0.1em;
  background-color: #ffffff;
  font-size: 1.2em;
  padding: 0.2em;
  margin-right: 0.5em;
  outline: 0;
  box-shadow : 0 rgba(0, 0, 0, 0), 0 rgba(0, 0, 0, 0);
  -webkit-transition: border-bottom 0.2s ease-in, box-shadow 0.2s ease-in;
  -moz-transition: border-bottom 0.2s ease-in, box-shadow 0.2s ease-in;
  transition: border-bottom 0.2s ease-in, box-shadow 0.2s ease-in;
}
.App-add-participant-input:focus {
  border-bottom: 2px solid #222222;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.App-refresh-button,
.App-add-participant-button,
.App-add-raffle-button,
.App-autorefresh-button {
  border: none;
  background-color: #444444;
  border-radius: 0.2em;
  color: #ffffff;
  font-size: 1.2em;
  padding: 0.2em;
  cursor: pointer;
  outline: 0;
}
.App-refresh-button:hover,
.App-add-participant-button:hover,
.App-add-raffle-button:hover,
.App-autorefresh-button:hover {
  background-color: #333333;
}
.App-refresh-button:active,
.App-add-participant-button:active,
.App-add-raffle-button:active,
.App-autorefresh-button:active {
  background-color: #222222;
}
.App-refresh-button:disabled,
.App-add-participant-button:disabled,
.App-add-raffle-button:disabled,
.App-autorefresh-button:disabled {
  background-color: #aaaaaa;
}

@media (min-width:1025px) {
  .App-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(2em, auto);
    grid-auto-columns: minmax(15em, auto);
  }

  .App-status-container {
    grid-column: 1;
    grid-row: 1;
  }

  .App-participants-container {
    grid-column: 1;
    grid-row: 2;

  }

  .App-donations-container {
    grid-column: 2;
    grid-row: 1 / 4;
  }

  .App-raffles-container {
    grid-column: 1;
    grid-row: 3;
  }
}


